APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=app
APP_CONFIG__DB__USER=user
APP_CONFIG__DB__PASSWORD=pwd
APP_CONFIG__DB__ECHO=0

APP_CONFIG__S3__BUCKET_NAME=bucket
APP_CONFIG__S3__REGION=us-east-1

POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=pwd
POSTGRES_PORT=5432
